<!-- wp:template-part {"slug":"header","theme":"pulitzer","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|90","bottom":"var:preset|spacing|90"},"blockGap":"var:preset|spacing|100"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--90);padding-bottom:var(--wp--preset--spacing--90)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Привіт, я Сергій Корольчук</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Я продюсер видання The Washington Post в Україні, графічний дизайнер та пластун куреня «Лісові Чорти».</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","orientation":"horizontal"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","letterSpacing":"0.1em","textTransform":"uppercase"},"elements":{"link":{"color":{"text":"var:preset|color|contrast-2"}}}},"textColor":"contrast-2","fontSize":"xx-small"} -->
<h2 class="wp-block-heading has-contrast-2-color has-text-color has-link-color has-xx-small-font-size" style="font-style:normal;font-weight:500;letter-spacing:0.1em;text-transform:uppercase">Останні дописи в блозі</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><a href="https://serhii.blog/blog/" data-type="page" data-id="3119">Читати всі →</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":"100","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":false,"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"border":{"radius":{"topLeft":"8px","topRight":"8px","bottomLeft":"8px","bottomRight":"8px"}}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"lineHeight":"1.3"}},"fontSize":"medium"} /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-3"}}},"spacing":{"blockGap":"var:preset|spacing|20"},"typography":{"lineHeight":"1"}},"textColor":"contrast-3","fontSize":"small","fontFamily":"system-sans-serif","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group has-contrast-3-color has-text-color has-link-color has-system-sans-serif-font-family has-small-font-size" style="line-height:1"><!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-3"}}}},"textColor":"contrast-3","fontSize":"small"} /-->

<!-- wp:paragraph -->
<p>•</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"pulitzer/post-reading-time"}}}} -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>•</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"className":"is-style-pulitzer-clamp-lines-3"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|90","bottom":"var:preset|spacing|90"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--90);margin-bottom:var(--wp--preset--spacing--90)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","letterSpacing":"0.1em"},"elements":{"link":{"color":{"text":"var:preset|color|contrast-2"}}}},"textColor":"contrast-2","fontSize":"xx-small"} -->
<h2 class="wp-block-heading has-contrast-2-color has-text-color has-link-color has-xx-small-font-size" style="font-style:normal;font-weight:500;letter-spacing:0.1em;text-transform:uppercase">Статті для The Washington Post</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"posts-four-column-grid","theme":"pulitzer","area":"posts","align":"wide"} /-->

<!-- wp:group {"metadata":{"name":"Wapo articles","blockVisibility":false},"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:query {"queryId":1,"query":{"perPage":4,"pages":"0","offset":0,"postType":"external_post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":false,"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"wapo-articles","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"","style":{"spacing":{"blockGap":"var:preset|spacing|20"}}} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"medium"} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"excerptLength":100,"className":"is-style-pulitzer-clamp-lines-3"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"","fontSize":"massive","layout":{"type":"constrained","justifyContent":"right"}} -->
<div class="wp-block-column is-vertically-aligned-top has-massive-font-size"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","linkTarget":"_blank","style":{"color":{"duotone":"unset"}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"width":100,"className":"is-style-outline"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-outline"><a class="wp-block-button__link wp-element-button" href="https://serhii.blog/articles">До всіх матеріалів&nbsp;<strong>→</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"blockVisibility":false},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","letterSpacing":"0.1em"}},"fontSize":"xx-small"} -->
<h2 class="wp-block-heading has-xx-small-font-size" style="font-style:normal;font-weight:500;letter-spacing:0.1em;text-transform:uppercase">Що слухаю останнім часом</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:lastfm-albums/recent-albums /-->

<!-- wp:tabor/cards {"metadata":{"blockVisibility":false},"align":"wide"} -->
<!-- wp:tabor/card {"title":"SABLE, fABLE","link":"https://music.apple.com/ua/album/sable-fable/1791161215?l=uk","description":"Bon Iver","image":"https://serhii.blog/wp-content/uploads/2025/11/SABLE_fABLE_Bon_Iver_album_cover-scaled.jpg"} /-->

<!-- wp:tabor/card {"title":"GNX","link":"https://music.apple.com/ua/album/gnx/1781270319?l=uk","description":"Kendrick Lamar","image":"https://serhii.blog/wp-content/uploads/2025/11/512025041.jpg.webp"} /-->

<!-- wp:tabor/card {"title":"Wishbone","link":"https://music.apple.com/ua/album/wishbone/1816089441","description":"Conan Gray","image":"https://serhii.blog/wp-content/uploads/2025/11/1000x1000.1280x1280.jpg"} /-->

<!-- wp:tabor/card {"title":"Star Line","link":"https://music.apple.com/ua/album/star-line/1832783290","description":"Chance the Rapper","image":"https://serhii.blog/wp-content/uploads/2025/11/Star_Line_album.jpg","isOverflowTitle":true} /-->
<!-- /wp:tabor/cards --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","letterSpacing":"0.1em"},"elements":{"link":{"color":{"text":"var:preset|color|contrast-2"}}}},"textColor":"contrast-2","fontSize":"xx-small"} -->
<h2 class="wp-block-heading has-contrast-2-color has-text-color has-link-color has-xx-small-font-size" style="font-style:normal;font-weight:500;letter-spacing:0.1em;text-transform:uppercase">Останні фільми з Letterboxd</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:letterboxd-movies/movies {"showRating":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pulitzer","tagName":"footer","area":"footer"} /-->