/* --------------------------------------------------------------------------
   Tag cloud
   -------------------------------------------------------------------------- */

.wp-block-tag-cloud {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.wp-block-tag-cloud a {
	font-weight: 500;
	text-decoration: none;
	line-height: 1;
	display: inline-block;
	padding: 12px 16px;
	border: 1px solid var(--wp--preset--color--contrast-5);
	border-radius: 20px;
	color: var(--wp--preset--color--contrast);
	background-color: transparent;
	transition: all 0.2s ease;
}

.wp-block-tag-cloud a:hover {
	background-color: var(--wp--preset--color--base-2);
}
